{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML Course</title>
    <link rel="stylesheet" href="{% static 'css/html.css'%}" />
  </head>
  <body>
    <section id="home">
      <button class="btn" onclick="window.location.pathname='/enrollForm/';">
        Enroll Now
      </button>
    </section>
    <p></p>
    <h2>--- 3 Month Fitness Plan ---</h2>
    <p></p>
    <h4>1) Gets Hands of all the basic Training Equipments and their usage.</h4>
    <h4>2) Gets 3 Months Complimentry Diet Plan.</h4>
    <h4>3) Weekly Workout Sessions with a Professional Trainer.</h4>
    <h4>4) Online Videos For Better Understanding.</h4>
    <h4>5) Gym Tshirt is free!!!!</h4>
    <!-- 
<p> <h1> Description </h1>
<p>HTML stands for Hyper Text Markup Language. In short HTML is a markup language that is used developing web pages.</p>
<p>CSS stands for Cascading Style Sheets. In short CSS is a language responsible for layout and styling of the web pages.</p>
<p>In this course we will cover both languages from the scratch and by the end of the course become HTML and CSS ninjas by building Responsive Real World Projects.</p>
<p>Why you should take this course?</p>
<p><strong>Reason Number ONE - You Will Understand the Web Better.</strong></p>
<p>Knowing the HTML and CSS and how they are used to create web pages is essential for web developer as they are building blocks of every&nbsp;web page.</p>
<p><strong>Reason Number TWO - You Will be able to&nbsp;Create Websites.</strong></p>
<p>Once you will know HTML and CSS you will be able to create a personal,unique web page for yourself.</p>
<p><strong>Reason Number THREE&nbsp;- Start a Web Career.</strong></p>
<p>For anybody who wants to pursue a career in Web Development knowledge of HTML and CSS is required.&nbsp;</p>
<p><strong>Reason Number FOUR&nbsp;- You Will Progress to Another Programming Languages with Greater Ease.</strong></p>
<p>Once you know the fundamentals of HTML&nbsp;and CSS you will be able to pick up languages like Javascript with greater ease.</p>
<p><strong>Reason Number FIVE&nbsp;- We Will Learn&nbsp;HTML and CSS from Scratch and Will Use it to Build Responsive Real Life Projects.</strong><br></p>
<p>Not only we will learn the theory of HTML and CSS step by step. We also will apply our knowledge by building Real Life Projects.</p>

 -->
  </body>
</html>
