{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Java Course</title>
    <link rel="stylesheet" href="{% static 'css/javaCourse.css'%}" />
  </head>
  <body>
    <section id="home">
      <button class="btn" onclick="window.location.pathname='enrollForm/';">
        Enroll Now
      </button>
    </section>
    <p></p>
    <h2>--- 9 Month Fitness Planj ---</h2>
    <p></p>
    <h4>1) Gets Hands of all the Training Equipments and their usage.</h4>
    <h4>
      2) Gets 9 Months Complimentry Diet Plan. + 3 Months extra plan as summer
      discount.
    </h4>
    <h4>3) Daily Workout Sessions with a Professional Trainer.</h4>
    <h4>4) Online Videos For Better Understanding.</h4>
    <h4>
      5) Gym Kit is free!!!! :- Include Tshirt, Pants, Gym gloves, Gym Dress,
      Gym Bag
    </h4>
    <!-- 
<p> <h1> Description </h1>
<p>Java is one of the most popular programming languages. Java offers both object oriented and functional programming features.</p>

<p>We take a hands-on approach using a combination of JShell and Eclipse as an IDE to illustrate more than 200 Java Coding Exercises, Puzzles, and Code Examples. This course assumes no previous ( beginner ) programming or Java experience. If you’ve never programmed a computer before, or if you already have experience with another programming language and want to quickly learn Java, this is a perfect course for you.</p>

<p>In more than 250 Steps, we explore the most important Java Programming Language Features</p>

<p>1) Basics of Java Programming - Expressions, Variables, and Printing Output</p>

<p>2) Java Operators - Java Assignment Operator, Relational and Logical Operators, Short Circuit Operators</p>

<p>3) Java Conditionals and If Statement</p>

<p>4) Methods - Parameters, Arguments, and Return Values</p>

<p>5) Object-Oriented Programming - Class, Object, State, and Behavior</p>

<p>6) Basics of OOPS - Encapsulation, Abstraction, Inheritance, and Polymorphism</p>

<p>7) Basics about Java Data Types - Casting, Operators and More</p>

<p>8) Java Built-in Classes - BigDecimal, String, Java Wrapper Classes</p>

<p>9) Conditionals with Java - If Else Statement, Nested If Else, Java Switch Statement, Java Ternary Operator</p>

<p>10) Loops - For Loop, While Loop in Java, Do While Loop, Break and Continue</p>

<p>11) Immutability of Java Wrapper Classes, String and BigDecimal</p>

<p>12) Java Dates - Introduction to LocalDate, LocalTime and LocalDateTime</p>

<p>13) Java Array and ArrayList - Java String Arrays, Arrays of Objects, Primitive Data Types, toString and Exceptions</p>

<p>14) Introduction to Variable Arguments</p>

<p>15) Basics of Designing a Class - Class, Object, State and Behavior. Deciding State and Constructors.</p> -->
  </body>
</html>
