{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/jvideo.css'%}" />
    <title>Java Course</title>
  </head>

  <body>
    <p></p>
    <h1>6 Month Fitness Plan</h1>
    <br />
    <h2>Month 1</h2>
    <h3><a href="https://youtu.be/dD2EISBDjWM">Introduction to HTML </a></h3>
    <h3>
      <a href="https://youtu.be/i3GE-toQg-o"
        >Line Breaks,spacing and comments
      </a>
    </h3>
    <h3>
      <a href="https://youtu.be/09oErCBjVns">Ordered and Unordered Lists </a>
    </h3>
    <h3><a href="https://youtu.be/wvR40su_XBM">Creating a Table </a></h3>
    <p></p>
    <br />
    <h2>Month 2</h2>
    <h3><a href="https://youtu.be/U4UHoiK6Oo4">Creating a Web Link </a></h3>
    <h3><a href="https://youtu.be/NCKhB9_8xng">Text Formatting</a></h3>
    <h3><a href="https://youtu.be/EopTYckcgp4">Style Attributes</a></h3>
    <h3><a href="https://youtu.be/pfhLHiqHpyQ">Style Tags</a></h3>
    <p></p>
    <br />
    <h2>Month 3</h2>
    <h3>
      <a href="https://youtu.be/Zy4KJeVN7Gk">Adding a Image to Web Page</a>
    </h3>
    <h3>
      <a href="https://youtu.be/dM12ctixdT4">Resizing And Sizing Images</a>
    </h3>
    <h3><a href="https://youtu.be/Cn8znTKnWgw">Image As A link</a></h3>
    <h3>
      <a href="https://youtu.be/MJQTATNi3Zk"> Form Part1: Input and Labels</a>
    </h3>
    <p></p>
    <h2>Month 4</h2>
    <h3>
      <a href="https://youtu.be/Zy4KJeVN7Gk">Adding a Image to Web Page</a>
    </h3>
    <h3>
      <a href="https://youtu.be/dM12ctixdT4">Resizing And Sizing Images</a>
    </h3>
    <h3><a href="https://youtu.be/Cn8znTKnWgw">Image As A link</a></h3>
    <h3>
      <a href="https://youtu.be/MJQTATNi3Zk"> Form Part1: Input and Labels</a>
    </h3>
    <p></p>
    <h2>Month 5</h2>
    <h3>
      <a href="https://youtu.be/Zy4KJeVN7Gk">Adding a Image to Web Page</a>
    </h3>
    <h3>
      <a href="https://youtu.be/dM12ctixdT4">Resizing And Sizing Images</a>
    </h3>
    <h3><a href="https://youtu.be/Cn8znTKnWgw">Image As A link</a></h3>
    <h3>
      <a href="https://youtu.be/MJQTATNi3Zk"> Form Part1: Input and Labels</a>
    </h3>
    <p></p>
    <h2>Month 6</h2>
    <h3>
      <a href="https://youtu.be/Zy4KJeVN7Gk">Adding a Image to Web Page</a>
    </h3>
    <h3>
      <a href="https://youtu.be/dM12ctixdT4">Resizing And Sizing Images</a>
    </h3>
    <h3><a href="https://youtu.be/Cn8znTKnWgw">Image As A link</a></h3>
    <h3>
      <a href="https://youtu.be/MJQTATNi3Zk"> Form Part1: Input and Labels</a>
    </h3>
    <p></p>
    <h2>Month 7</h2>
    <h3>
      <a href="https://youtu.be/Zy4KJeVN7Gk">Adding a Image to Web Page</a>
    </h3>
    <h3>
      <a href="https://youtu.be/dM12ctixdT4">Resizing And Sizing Images</a>
    </h3>
    <h3><a href="https://youtu.be/Cn8znTKnWgw">Image As A link</a></h3>
    <h3>
      <a href="https://youtu.be/MJQTATNi3Zk"> Form Part1: Input and Labels</a>
    </h3>
    <p></p>
    <h2>Month 8</h2>
    <h3>
      <a href="https://youtu.be/Zy4KJeVN7Gk">Adding a Image to Web Page</a>
    </h3>
    <h3>
      <a href="https://youtu.be/dM12ctixdT4">Resizing And Sizing Images</a>
    </h3>
    <h3><a href="https://youtu.be/Cn8znTKnWgw">Image As A link</a></h3>
    <h3>
      <a href="https://youtu.be/MJQTATNi3Zk"> Form Part1: Input and Labels</a>
    </h3>
    <p></p>
    <h2>Month 9</h2>
    <h3>
      <a href="https://youtu.be/Zy4KJeVN7Gk">Adding a Image to Web Page</a>
    </h3>
    <h3>
      <a href="https://youtu.be/dM12ctixdT4">Resizing And Sizing Images</a>
    </h3>
    <h3><a href="https://youtu.be/Cn8znTKnWgw">Image As A link</a></h3>
    <h3>
      <a href="https://youtu.be/MJQTATNi3Zk"> Form Part1: Input and Labels</a>
    </h3>
    <p></p>
  </body>
</html>
