{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Python Course</title>
    <link rel="stylesheet" href="{% static 'css/pythonCourse.css'%}" />
  </head>
  <body>
    <section id="home">
      <button class="btn" onclick="window.location.pathname='enrollForm/';">
        Enroll Now
      </button>
    </section>
    <h2>--- 6 Month Fitness Planp ---</h2>
    <p></p>
    <h4>1) Gets Hands of all the Training Equipments and their usage.</h4>
    <h4>
      2) Gets 6 Months Complimentry Diet Plan. + 1 Months extra plan as summer
      discount.
    </h4>
    <h4>3) Daily Workout Sessions with a Professional Trainer.</h4>
    <h4>4) Online Videos For Better Understanding.</h4>
    <h4>5) Gym Gloves is free!!!!</h4>
  </body>
</html>
